ul.phu-social li{
    display: inline;
    padding-left: 1em;
  }

ul.phu-list-portfolio li{
    margin-top: 1em;
    list-style: none;
}
ul.phu-list-contact li{
    display: inline;
    margin: 1em;
}