.phu-social ul li{
    display: inline;
    padding-left: 1em;
  }

ul.phu-list-portfolio li{
    margin-top: 1em;
    list-style: none;
    margin-left: 1em;


}

ul.phu-list-portfolio{

}

ul.phu-list-contact li{
    display: inline;
    padding-left: 1em;
}